<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
  <div id="main">
<article class="post">
  <header>
    <div class="title">
      <h2>Об авторе</h2>
      <p>GitHub:<a href="https://github.com/klo-kly"> Калин Савельев</a></p>
    </div>
  </header>

  <div>
    <p><span class="image right"><img src="/static/images/av1.jpg" alt=""></span>Привет!<br>
    Меня зовут Калин, мне 23. <br>
    По образованию я инженер, пока занимаюсь испытаниями и запуском ракет с космическими аппаратами, но хочу забраться в IT)</p>
    <p>Люблю путешествия, вкусно поесть, своих друзей — и когда то, что казалось недостижимым, начинает получаться!</p>
    <p>Спасибо, что зашли! 🖤</p>
  </div>   


        
    </article>
  </div>
{% endblock %}