<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Что применялось при разработе?{% endblock %}
{% block content %}
  <div class="row">
<div id="main">

<article class="post">
  <header>
    <div class="title">
      <h2>О проекте</h2>
    </div>
  </header>

  <div style="font-family: Raleway, Helvetica, sans-serif; letter-spacing: 0.03em;">
    <p>Платформа Yatube создана в качестве учебного проекта на курсе Яндекс Практикума <a href="https://praktikum.yandex.ru/backend-developer">"Python-разработчик"</a>.</p>
    <p>Разработано на Django с использованием SQLite.</p>
    <p>Зарегистрировавшись, здесь можно:
        </p><ul>
            <li>Читать посты других авторов и сообществ</li>
            <li>Создавать и редактировать посты</li>
            <li>Оставлять комментарии</li>
            <li>Подписываться на авторов</li>
            <li>Искать и находить баги)</li>
        </ul>
    <p></p>
    <p>Буду признателен за любую активность и добро пожаловать!</p>
  </div>


  

</article>

        
    </div>
  </div>
{% endblock %}